@import 'scss-config'; // get global colors variables
@import 'breakpoint'; //get breakpoint for responsive

.collapse-bar{

    width :100%;
    margin : 15px 0px;

    div{
        margin:0px;

        padding : 5px 15px;
    }
    
    .collapse-header{
        background-color: $primary-red;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        color : white;
        cursor: pointer;

        

        h2{
            margin:0px;
            font-size: 24px;
            font-weight: 500;
        }

        img{
            height: 32px;
            transform: rotate(-90deg);
            
        }
        .arrow-down{
            transform: rotate(-270deg);
        }

        
    }

    .collapse-infos{
        background-color: $primary-grey;
        color : $primary-red;
        font-size: large;
        text-align: justify;
        p{
            line-height:22px;
            white-space: pre-line; // make the '\n' charcter work when converting array to multiple line string
        }
    }
}